{% extends "base.html" %}

{% load static %}

{% csrf_token %}

{% block title %}{{ category.name }} | {{ block.super }}{% endblock %}
{% block description %}「{{ category.name }}」の登録一覧ページです。{% endblock %}

{% block content %}

<br/>

{% comment %}
<div class="container container-fluid">
{% endcomment %}

<div class="container-fluid">

  <div class="row">
{% comment %}
    <main class="col-md-11">
{% endcomment %}
    <main class="col-11">
      <h2 class="mb-4">「{{ category.name }}」の登録一覧</h2>
      {% include "posts/snippets/main_post_list.html" %}
    </main>
{% comment %}
    <aside class="col-md-1">
{% endcomment %}
    <aside class="col-1">
      {% include "posts/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}

 
{% block extra_js %}

    {% include "posts/snippets/DataTableSetting.html" %}

{% endblock %}    
