<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

    {% block content %}
        {% if user.is_authenticated %}
            Hello!<BR>
            {{ user.username }}さんでログイン中です。
        {% else %}

        <p>You are not logged in.
            <BR>
            <a href="{% url 'posts:login' %}">Login</a>
        </p>

{% comment %}
        <BR>
        <p>If you have not registered yet.
            <BR>
            <a href="{% url 'posts:signup' %}">Signup</a>
        </p>
{% endcomment %}

        {% endif %}
    {% endblock %}