{% extends 'base.html' %}

{% load static %}

{% csrf_token %}

{% block content %}

<!-- div class="container-fluid" style="margin-top: 60px;"　-->

<div class="container container-fluid　 style="margin-top: 60px;">
<div class="card mb-3">

    <div class="row">
        <div class="col-md-11 offset-md-1" > 
            <div class="alert alert-success" role="alert">

            <div class="card-body" >
                <p class="text-muted">ＩＤ：{{ post.id }}</p>
                <hr>
                <p><h4 class="alert-heading">機種名：{{ post.equipment }}</h4></p>
                <hr>
                <p class="card-text">大分類：{{ post.category }} 　　小分類：{{ post.subcategory }} 　　状態：{{ post.state }}</P>
                <hr>
<!--
                <p class="card-text">発見日： {{ post.discoverydate }}</p>
                <p class="text-muted">発見区分： {{ post.discoverydiv }}</p>
                <p class="text-muted">重要度： {{ post.severity }}</p>
-->
                <p class="card-text">発見日：{{ post.discoverydate }}　　発見区分：{{ post.discoverydiv }}　　重要度：{{ post.severity }}</p>
                <h5 class="card-title">発見概要：</h5> <p class="card-text">{{ post.overview | linebreaksbr}}</p>
                <h5 class="card-title">発見内容：</h5> <p class="card-text">{{ post.content | linebreaksbr}}</p>
                <hr>
                <h5 class="card-title">原因区分：</h5> <p class="card-text">{{ post.causediv }}</p>
                <h5 class="card-title">原因内容：</h5> <p class="card-text">{{ post.cause }}</p>
                <h5 class="card-title">処置内容：</h5> <p class="card-text">{{ post.counterplan }}</p>
                <h5 class="card-title">チェックリスト：</h5> <p class="card-text">{% for check in post.checklist.all %}　{{ check }},　{% endfor %}</p>
                <h5 class="card-title">チェックリストエビデンス：</h5> <p class="card-text">{{ post.evidence }}</p>
                <hr>
                <h5 class="card-title">完了日：</h5> <p class="card-text">{{ post.completiondate }}</P>
                <hr>

                <p class="card-text">
                {% for AttachedFile in post.contentfile_set.all %}
                    <a href="{{ AttachedFile.content_file.url }}" target="_blank">
                    {{ AttachedFile.content_file }}
                    </a>
                    <!-- 画像ファイルなら表示 -->
                    {% if AttachedFile.content_file %}
                        <img class="card-img" src="{{ AttachedFile.content_file.url }}" alt="{{ AttachedFile.content_file }}">
                    {% endif %}
                    <!-- 画像ファイル以外ならファイルのリンクを作る -->                    
                {% endfor %}
                </p>
                <p class="text-muted">登録者：{{ post.author }}　　登録日：{{ post.created_at }}　　最終更新日：{{ post.updated_at }}</p>
                <BR>
                {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}" >編集</a> 
                {% endif %}
                {% if request.user == post.author %}
                    <a class="btn btn-primary" href="{% url 'posts:post_delete' post.id %}" onclick='return confirm("本当に削除しますか？");'>削除</a>
                {% endif %}
                <a class="btn btn-primary" href="javascript:void(0);" onclick="window.history.back();">前の画面に戻る</a>
                <a class="btn btn-primary" href="{% url 'posts:index_listview' %}" >全一覧表示</a>
 
            </div>
            </div>
         </div><!-- end col-md-6 offset-md-3 -->
    </div><!-- end row -->
</div><!-- end container-fluid -->

</div>

{% endblock %}    

