{% extends 'base.html' %}

{% load static %}

{% csrf_token %}

{% block content %}

<!-- div class="container-fluid" style="margin-top: 60px;"　-->

<div class="container container-fluid　 style="margin-top: 60px;">
    <div class="card mb-3">

        <div class="row">
            <div class="col-md-11 offset-md-1" > 
                <div class="alert alert-success" role="alert">

                    <div class="card-body" >
                        <h5 class="text-muted">ＩＤ：{{ post.id }}</h5>
                    </div>
                    <hr>
                    <div class="card-body" >
                        <h4 class="alert-heading">機種名：{{ post.equipment }}</h4>
                        <hr>
                        <div class="card-text">大分類：{{ post.category }} 　　小分類：{{ post.subcategory }} 　　状態：{{ post.state }}</div>
                    </div>
                    <hr>
<!--
                <p class="card-text">発見日： {{ post.discoverydate }}</p>
                <p class="text-muted">発見区分： {{ post.discoverydiv }}</p>
                <p class="text-muted">重要度： {{ post.severity }}</p>
-->
                    <div class="card-body" >
                        <div class="card-text">発見日：{{ post.discoverydate }}　　発見区分：{{ post.discoverydiv }}　　重要度：{{ post.severity }}</div><BR/>
                        <h5 class="text-white bg-info" class="card-title">発見概要：</h5> <div class="card-text">{{ post.overview | linebreaksbr}}</div><BR/>
                        <h5 class="text-white bg-info" class="card-title">発見内容：</h5> <div class="card-text">{{ post.content | linebreaksbr}}</div><BR/>
                    <hr>
                    <div class="card-body" >
                        <h5 class="text-white bg-info" class="card-title">原因区分：</h5> <div class="card-text">{{ post.causediv }}</div><BR/>
                        <h5 class="text-white bg-info"  class="card-title">原因内容：</h5> <div class="card-text">{{ post.cause }}</div><BR/>
                        <h5 class="text-white bg-info" class="card-title">処置内容：</h5> <div class="card-text">{{ post.counterplan }}</div><BR/>
                        <h5 class="text-white bg-info" class="card-title">チェックリスト：</h5> <div class="card-text">{% for check in post.checklist.all %}{{ check }}、　{% endfor %}</div><BR/>
                        <h5 class="text-white bg-info" class="card-title">チェックリストエビデンス：</h5> <div class="card-text">{{ post.evidence }}</div><BR/>
                    </div>
                    <hr>
                    {% if post.file_link %}
                    <div class="card-body" >
                        <h5 class="text-white bg-info" class="card-title">共有ファイルサーバ：</h5>
                            <div class="card-text">
                                    <a href="{{ post.file_link }}"  target="_blank">{{ post.file_link }}</a>
                            </div>
                    </div>
                    {% endif %}
                    <hr>
                    <div class="card-body" >
                        <h5 class="text-white bg-info" class="card-title">完了日：</h5> <div class="card-text">{{ post.completiondate }}</div>
                    </div>
                    <hr>
                    <div class="card-body" >
                        {% for AttachedFile in post.contentfile_set.all %}
                            <h5 class="text-white bg-info" class="card-title">添付ファイル：</h5>
                            <div class="card-text">
                                <a href="{{ AttachedFile.content_file.url }}" target="_blank">
                                    {{ AttachedFile.content_file }}
                                </a>
                                <!-- 拡張子が.jpg,.gif,.png,.tiff,.bmp,.jpegならプレビュー表示 -->
                                {% if AttachedFile.css_class == "image" %}
                                    <img class="card-img" src="{{ AttachedFile.content_file.url }}" alt="{{ AttachedFile.content_file }}">
                                {% endif %}
                            </div><BR>
                        {% endfor %}
                    </div>
                    <div class="card-body" >
                        {% for ms_fields in post.marketspillover_set.all %}
                            <h5 class="card-title">【市場への波及性】</h5>
                            <h6 class="text-white bg-info" class="card-title">理由：</h6>
                            <div class="card-text">{{ ms_fields.reason }}</div><BR/>
                            <h6 class="text-white bg-info" class="card-title">要因：</h6>
                            <div class="card-text">{{ ms_fields.factor }}</div><BR/>
{% comment %}
                            <div class="card-text">{{ ms_fields.factordiv }}</div><BR/>
{% endcomment %}
                            <div class="card-text">{{ ms_fields.factordiv }}</div><BR/>
                            <h6 class="text-white bg-info" class="card-title">対象品出荷日：</h6>
                            <div class="card-text">{{ ms_fields.shippingdate_start }}～{{ ms_fields.shippingdate_end }}</div><BR/>
                            <h6 class="text-white bg-info" class="card-title">出荷先：</h6>
                            <div class="card-text">{{ ms_fields.shipping }}</div><BR/>
                            <h6 class="text-white bg-info" class="card-title">対象製造番号：</h6>
                            <div class="card-text">{{ ms_fields.serial_start }}～{{ ms_fields.serial_end }}</div><BR/>
                            <h6 class="text-white bg-info" class="card-title">対象台数：</h6>
                            <div class="card-text">{{ ms_fields.targetno }}</div><BR/>
                            <h6 class="text-white bg-info" class="card-title">他の機種への影響：</h6>
                            <div class="card-text">{{ ms_fields.influence }}</div><BR/>                            
                        {% endfor %}
                    </div>
                    <div class="card-body" >
                        <div class="text-muted">登録者：{{ post.author }}　　登録日：{{ post.created_at }}　　最終更新日：{{ post.updated_at }}</div><BR/>
                    </div>
                    {% if user.is_authenticated %}
                        <a class="btn-lg btn-primary" href="{% url 'posts:post_edit' post.id %}" >編集</a> 
                    {% endif %}

                        <a class="btn-lg btn-primary" href="{% url 'posts:post_print' post.id %}"  target="_blank"　onclick='return confirm("印刷しますか？");'>印刷</a>

                    {% if request.user == post.author %}
                        <a class="btn-lg btn-primary" href="{% url 'posts:post_delete' post.id %}" onclick='return confirm("削除します。いいですか？");'>削除</a>
                    {% endif %}
                    <a class="btn-lg btn-primary" href="javascript:void(0);" onclick="window.history.back();">前の画面に戻る</a>
                    <a class="btn-lg btn-primary" href="{% url 'posts:index_listview' %}" >全一覧表示</a>
 
                </div>
            </div><!-- end col-md-6 offset-md-3 -->
        </div><!-- row -->

    </div><!-- card mb-3 -->
</div><!-- end container-fluid -->


{% endblock %}    
