{% extends 'base.html' %}

{% load static %}

{% csrf_token %}

{% block content %}

<!-- div class="container-fluid" style="margin-top: 60px;"　-->

<div class="container container-fluid　 style="margin-top: 60px;">
    <div class="card mb-3">

        <div class="row">
            <div class="col-md-11 offset-md-1" > 
                <div class="alert alert-success" role="alert">

                    <div class="card-body" >
                        <h5 class="text-muted">ＩＤ：{{ post.id }}</h5>
                    </div>
                    <hr>
                    <div class="card-body" >
                        <h4 class="alert-heading">機種名：{{ post.equipment }}</h4>
                        <hr>
                        <div class="card-text">大分類：{{ post.category }} 　　小分類：{{ post.subcategory }} 　　状態：{{ post.state }}</div>
                    </div>
                    <hr>
<!--
                <p class="card-text">発見日： {{ post.discoverydate }}</p>
                <p class="text-muted">発見区分： {{ post.discoverydiv }}</p>
                <p class="text-muted">重要度： {{ post.severity }}</p>
-->
                    <div class="card-body" >
                        <div class="card-text">発見日：{{ post.discoverydate }}　　発見区分：{{ post.discoverydiv }}　　重要度：{{ post.severity }}</div>
                    </div>
                    <div class="card-body" >
                        <h6 class="card-title">発見概要：</h6> <div class="card-text">{{ post.overview | linebreaksbr}}</div>
                    </div>
                    <div class="card-body" >
                        <h6 class="card-title">発見内容：</h6> <div class="card-text">{{ post.content | linebreaksbr}}</div>
                    </div>
                    <hr>
                    <div class="card-body" >
                        <h6 class="card-title">原因区分：</h6> <div class="card-text">{{ post.causediv }}</div>
                    </div>
                    <div class="card-body" >
                        <h6 class="card-title">原因内容：</h6> <div class="card-text">{{ post.cause }}</div>
                    </div>
                    <div class="card-body" >
                        <h6 class="card-title">処置内容：</h6> <div class="card-text">{{ post.counterplan }}</div>
                    </div>
                    <div class="card-body" >
                        <h6 class="card-title">チェックリスト：</h6> <div class="card-text">{% for check in post.checklist.all %}　{{ check }},　{% endfor %}</div>
                    </div>
                    <div class="card-body" >
                        <h6 class="card-title">チェックリストエビデンス：</h6> <div class="card-text">{{ post.evidence }}</div>
                    </div>
                    <div class="card-body" >
                        <h6 class="card-title">共有ファイルサーバ：</h6>
                            <div class="card-text">
                                {% if post.file_link %}
                                    <a href="file://{{ post.file_link }}"  target="_blank">{{ post.file_link }}</a>
                                    <br>(※参照するには右クリックで「ショートカット(リンク)のコピー」を選択して、
                                    <br>エクスプローラまたはWEBブラウザのアドレス入力欄にコピーしたショートカットを張り付けてください。) 
                               {% endif %}
                            </div>
                    </div>
                    <hr>
                    <div class="card-body" >
                        <h6 class="card-title">完了日：</h6> <div class="card-text">{{ post.completiondate }}</div>
                    </div>
                    <hr>
                    <div class="card-body" >
                        {% for AttachedFile in post.contentfile_set.all %}
                            <h6 class="card-title">添付ファイル：</h6>
                            <div class="card-text">
                                <a href="{{ AttachedFile.content_file.url }}" target="_blank">
                                    {{ AttachedFile.content_file }}
                                </a>
                                <!-- 拡張子が.jpg,.gif,.png,.tiff,.bmp,.jpegならプレビュー表示 -->
                                {% if AttachedFile.css_class == "image" %}
                                    <img class="card-img" src="{{ AttachedFile.content_file.url }}" alt="{{ AttachedFile.content_file }}">
                                {% endif %}
                            </div><BR>
                        {% endfor %}
                    </div>
                    <div class="card-body" >
                        <div class="text-muted">登録者：{{ post.author }}　　登録日：{{ post.created_at }}　　最終更新日：{{ post.updated_at }}</div>
                    </div>
                    <BR>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}" >編集</a> 
                    {% endif %}
                    {% if request.user == post.author %}
                        <a class="btn btn-primary" href="{% url 'posts:post_delete' post.id %}" onclick='return confirm("本当に削除しますか？");'>削除</a>
                    {% endif %}
                    <a class="btn btn-primary" href="javascript:void(0);" onclick="window.history.back();">前の画面に戻る</a>
                    <a class="btn btn-primary" href="{% url 'posts:index_listview' %}" >全一覧表示</a>
 
                </div>
            </div><!-- end col-md-6 offset-md-3 -->
        </div><!-- row -->

    </div><!-- card mb-3 -->
</div><!-- end container-fluid -->


{% endblock %}    
