{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

<h2>ユーザー登録</h2>
<div class="container container-fluid　 style="margin-top: 60px;">

<form method="post" action="{% url 'posts:signup' %}">{% csrf_token %}
    <label>ユーザー名：　　　　</label>
    {{ form.username }}
    {{ form.username.errors }}
    <BR>※ユーザー名は、あなたのxxxx@nesic.comメールアドレスの[@」の直前までの文字列にて、登録願います。
    <BR>
    <BR>
    <label>パスワード：　　　　</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
    <BR>
    <label>パスワード（確認）：</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
    <br>
    <input type="submit" value="登録する">
</form>
<!--
<p><a href="{% url 'posts:login' %}">ログインはこちら</a></p>
-->
</div>

{% endblock %}