{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="" method="POST">{% csrf_token %}
<!--
 
            {{ form.as_p }}
-->
            <div class="field">
                {{ form.name.label_tag }}
                {{ form.name}}
                <span class="helptext">{{ form.name.help_text }}</span>
                {{ form.name.errors }}
            </div>
            <button type="submit">登録</button>
        </form>
    </body>
</html>
