{% extends 'base.html' %}

{% block content %}
  <br>
  <h2 class="text-center">＊＊＊＊＊！</h2>

  <br /><br />
  {% load static %}
<!--
  <img src="{% static 'posts/home.png'%}" class = "img-fluid rounded" style="max-height: 300px;" />
!-->
  <hr>

  <h3>TOP</h3>

<!--
  {% for post in post.all %}
    <a href ="{% url 'post_detail' post.id %}">{{ post.subtitle }}</a>
    <br /><br />
    {{ post.discoverydate }}
    <br /><br />
    {{ post.overview }}
    <br /><br />
  {% endfor %}
!-->

{% endblock %}
